html,body {
  margin: 0;
  padding: 0;
  font-size:50%;
  line-height: 1.5;
}
body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #000000;
}

.wrapper {
  padding-top: 8rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem; 
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 2.2rem;
  font-style: italic;
}

/* ----------- MEDIA QUERY ----------- */
@media (min-width: 768px)
{
html,body {
  font-size:85%;
  line-height: 1.4;
}
.author {
  font-size: 2.5rem;
}
  .wrapper {
  padding-top: 10rem;
}
}
@media (min-width: 1024px)
{
html,body {
  line-height: 1.5;
}
}
@media (min-width: 1920px)
{
html,body {
  font-size:100%;
}
  .wrapper {
  padding-top: 14rem;
}
}
/* ----------- NAVBAR ----------- */
.navbar {
    font-family: 'Julius Sans One', sans-serif;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.button {
    background-color: slategrey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40%;
  }
.dropdown .button {
    font-size: 13px;
    padding: 4px 6px;
    font-family: inherit;
    margin: 5px;
}
.language-content {
    display: none;
    text-align: left;
    background-color: none;
    max-width: 25rem;
    overflow: auto;
    z-index: 1;
}
.language-content a {
    float: none;
    margin: 0px 0px 0px 12px;
    text-decoration: none;
}
.language:hover .language-content {
    display: block;
}
.flag {
    width: 18%;
  }

.show {
  display:block;
}

/* ----------- NAVBAR MEDIA QUERY ----------- */
@media (min-width: 768px)
{
.navbar .dropdown .button {
  font-size: 200%;
}
  .dropdown .button {
    margin: 20px 0px 10px 20px;
    padding: 5px 8px;
  }
  .language-content {
    min-width: 30rem;
}
  .language-content a {
    margin: 0px 0px 0px 20px;
  }
@media (min-width: 1024px)
{
  .navbar .dropdown .button {
  font-size: 250%;
}
  .language-content {
    min-width: 35rem;
}
  .dropdown .button {
    margin: 30px 0px 15px 30px;
    padding: 10px 10px;
  }
  .language-content a {
    margin: 0px 0px 0px 30px;
  }
}
@media (min-width: 1920px)
{
  .language-content {
    min-width: 40rem;
}
  .dropdown .button {
    margin: 40px 0px 25px 40px;
    padding: 15px 30px;
  }
  .language-content a {
    margin: 0px 0px 0px 40px;
  }
}